<h1 class="text-center">Tournament organizer</h1>
<p class="text-center">Enter the names of the <br> participants:</p>
<div class="d-flex justify-content-center" id="tournamentNamen">
  <div class="input-group mb-3 name-input">
    <input type="text" class="form-control" #newPlayer placeholder="John Doe" >
    <div class="input-group-append">
      <button class="btn btn-primary" (click)="addName(newPlayer)" type="button">Add Player</button>
    </div>
  </div>
</div>



<div class="d-flex align-items-center flex-column tournamentNamen" id="tournamentNamen" >
  <mat-card class="tournamentNamen" *ngFor="let player of players; let i = index">
    <div class="float-left">
    <b>{{player?.playerName}}</b>
    </div>
    <div class="float-right">
    <i class="fas fa-minus-circle delete-player" (click)="deletePlayer(i)"></i>
    </div>
  </mat-card>
</div>

<button type="button" (click)="startTournament()" class="btn btn-primary start-button">Start!</button>

