.name-input{
    width: 500px;
}

.start-button{
    position: fixed;
    bottom: 25px;
    right: 25px;
}

.tournamentNamen{
    margin-top: 10px;
    margin-bottom: 10px
}

.mat-card{
    width: 500px;
    Transition: 250ms transform;
}

.delete-player{
    color:red;
    cursor: pointer;
}

.delete-player:hover {
    color: grey;
}

.mat-card:hover{
    Transform: scale(1.05,1.05);
}
