<h1 class="text-center">Tournament organizer</h1>
<div *ngIf="!poolsFinished">
  <div class="row" *ngFor="let pool of pools; let p = index">
      <div class="col-4">
              <mat-card >
                  <h4>Poule {{p + 1}}</h4>
                  <table class="table">
                    <tr>
                      <th width="20%">No.</th>
                      <th width="60%">Name</th>
                      <th width="20%">Points</th>
                    </tr>
                    <tr *ngFor="let player of pool.players; let pl = index">
                      <td>{{pl + 1}}</td>
                      <td>{{player.playerName}}</td>
                      <td>{{player.poolPoints}}</td>
                    </tr>
                  </table>
              </mat-card>
      </div>
      <div class="col-8">
              <mat-card>
                  <h4>Poule {{p + 1}}</h4>
                  <table class="table">
                    <tr>
                      <th width="20%">No.</th>
                      <th width="30%">Player 1</th>
                      <th width="30%">Player 2</th>
                      <th width="20%"></th>
                    </tr>
                    <tr *ngFor="let match of pool.matches; let m = index">
                      <td>{{m + 1}}</td>
                      <td>
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">{{match.playerOne.playerName}}</span>
                          </div>
                          <input type="text" [value]="match.playerOneScore" #matchPlayerOne class="form-control" placeholder="0" id="basic-url" aria-describedby="basic-addon3">
                        </div>
                      </td>
                      <td>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon3">{{match.playerTwo.playerName}}</span>
                            </div>
                            <input type="text" [value]="match.playerTwoScore" #matchPlayerTwo class="form-control" placeholder="0" id="basic-url" aria-describedby="basic-addon3">
                          </div>
                      </td>
                      <td>
                          <button [disabled]="match.playerOne.poolPoints !== 0 || match.playerTwo.poolPoints" type="button" #saveButton (click)="saveMatch(p,m,matchPlayerOne, matchPlayerTwo, saveButton)" class="btn btn-success shadow-lg rounded">Save</button>
                      </td>
                    </tr>
                  </table>
              </mat-card>
      </div>
  </div>
</div>

<!-- if winner add winner class after participant-->
<div *ngIf="poolsFinished" class="bracket">

      <section class="round quarterfinals" *ngIf="this.bracket.quaterFinals.length > 0">
          <div class="winners">
            <div class="matchups">

              <div class="matchup">
                <div class="participants">
                  <div class="participant">
                    <span *ngIf="this.bracket?.quaterFinals[0]">{{this.bracket.quaterFinals[0]?.playerName}} <input [(ngModel)]="this.bracket.quaterFinals[0].poolPoints" type="text" class="form-control input-bracket" placeholder="0"></span>
                  </div>
                  <div class="participant">
                    <span *ngIf="this.bracket?.quaterFinals[1]">{{this.bracket.quaterFinals[1]?.playerName}} <input [(ngModel)]="this.bracket.quaterFinals[1].poolPoints" type="text" class="form-control input-bracket" placeholder="0"></span>
                  </div>
                </div>
              </div>

              <div class="matchup">
                <div class="participants">
                  <div class="participant">
                    <span *ngIf="this.bracket?.quaterFinals[2]">{{this.bracket.quaterFinals[2]?.playerName}} <input [(ngModel)]="this.bracket.quaterFinals[2].poolPoints" type="text" class="form-control input-bracket" placeholder="0"></span>
                  </div>
                  <div class="participant">
                    <span *ngIf="this.bracket?.quaterFinals[3]">{{this.bracket.quaterFinals[3]?.playerName}} <input [(ngModel)]="this.bracket.quaterFinals[3].poolPoints" type="text" class="form-control input-bracket" placeholder="0"></span>
                  </div>
                </div>
              </div>

            </div>
            <div class="connector">
              <div class="merger"></div>
              <div class="line"></div>
            </div>
          </div>
          
          <div class="winners">
            <div class="matchups">

              <div class="matchup">
                <div class="participants">
                  <div class="participant">
                    <span *ngIf="this.bracket?.quaterFinals[4]">{{this.bracket.quaterFinals[4]?.playerName}} <input [(ngModel)]="this.bracket.quaterFinals[4].poolPoints" type="text" class="form-control input-bracket" placeholder="0"></span>
                  </div>
                  <div class="participant">
                    <span *ngIf="this.bracket?.quaterFinals[5]">{{this.bracket.quaterFinals[5]?.playerName}} <input [(ngModel)]="this.bracket.quaterFinals[5].poolPoints" type="text" class="form-control input-bracket" placeholder="0"></span>
                  </div>
                </div>
              </div>

              <div class="matchup">
                <div class="participants">
                  <div class="participant">
                    <span *ngIf="this.bracket?.quaterFinals[6]">{{this.bracket.quaterFinals[6]?.playerName}} <input [(ngModel)]="this.bracket.quaterFinals[6].poolPoints" type="text" class="form-control input-bracket" placeholder="0"></span>
                  </div>
                  <div class="participant">
                    <span *ngIf="this.bracket.quaterFinals[7]">{{this.bracket.quaterFinals[7]?.playerName}} <input [(ngModel)]="this.bracket.quaterFinals[7].poolPoints" type="text" class="form-control input-bracket" placeholder="0"></span>
                  </div>
                </div>
              </div>

            </div>
            <div class="connector">
              <div class="merger"></div>
              <div class="line"></div>
            </div>
          </div>
        </section>
      
        <section class="round semifinals" *ngIf="this.bracket.semiFinals.length > 0 || this.bracket.quaterFinals.length">
          <div class="winners">
            <div class="matchups">
              
              <div class="matchup">
                <div class="participants">
                  <div class="participant">
                    <span *ngIf="this.bracket?.semiFinals[0]">{{this.bracket?.semiFinals[0]?.playerName}} <input [(ngModel)]="this.bracket.semiFinals[0].poolPoints" type="text" class="form-control input-bracket" placeholder="0"></span>
                  </div>
                  <div class="participant">
                    <span *ngIf="this.bracket?.semiFinals[1]">{{this.bracket?.semiFinals[1]?.playerName}} <input [(ngModel)]="this.bracket.semiFinals[1].poolPoints"type="text" class="form-control input-bracket" placeholder="0"></span>
                  </div>
                </div>
              </div>

              <div class="matchup">
                <div class="participants">
                  <div class="participant">
                    <span *ngIf="this.bracket?.semiFinals[2]">{{this.bracket?.semiFinals[2]?.playerName}} <input [(ngModel)]="this.bracket.semiFinals[2].poolPoints" type="text" class="form-control input-bracket" placeholder="0"></span>
                  </div>
                  <div class="participant">
                      <span *ngIf="this.bracket.semiFinals[3]">{{this.bracket.semiFinals[3]?.playerName}} <input [(ngModel)]="this.bracket.semiFinals[3].poolPoints" type="text" class="form-control input-bracket" placeholder="0"></span>
                  </div>
                </div>
              </div>
    
            </div>
            <div class="connector">
              <div class="merger"></div>
              <div class="line"></div>
            </div>
          </div>
        </section>
      
        <section class="round finals">
          <div class="winners">
            <div class="matchups">
              <div class="matchup">
                <div class="participants">
                  <div class="participant">
                    <span *ngIf="this.bracket?.finals[0]">{{this.bracket.finals[0].playerName}} <input [(ngModel)]="this.bracket.finals[0].poolPoints" type="text" class="form-control input-bracket" placeholder="0"></span>
                  </div>
                  <div class="participant">
                    <span *ngIf="this.bracket?.finals[1]">{{this.bracket.finals[1].playerName}} <input [(ngModel)]="this.bracket.finals[1].poolPoints" type="text" class="form-control input-bracket" placeholder="0"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="connector">
                <div class="merger"></div>
                <div class="line"></div>
              </div>
          </div>
        </section>

        <section class="round winner">
            <div class="winners">
              <div class="matchups">
                <div class="matchup">
                  <div class="participants">
                    <div class="participant">
                      <span>{{winnerName}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
</div>


<button type="button" (click)="newTournament()" class="btn btn-danger new-button shadow rounded">New tournament</button>

<button (click)="finish()" *ngIf="!poolsFinished" type="button" class="btn btn-primary next-button shadow rounded">Finish</button>
<button (click)="startSemiFinals()" *ngIf="checkButtonSemiFinals()" type="button" class="btn btn-primary next-button shadow rounded">Start semi</button>
<button (click)="startFinals()" *ngIf="checkButtonFinals()" type="button" class="btn btn-primary next-button shadow rounded">Start finals</button>
<button (click)="checkWinner()" *ngIf="checkButtonWinner() && !winnerName" type="button" class="btn btn-primary next-button shadow rounded">Check winner</button>
